<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="../assets/img/logo.png" class="img-fluid" alt="...">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark b">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Services</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Project</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">About Us</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary signup-btn rounded-0">Sign-up</button>
    </div>
  </header>
  <div class="big-te">
    <h1 class="display-3">We're Here to Help You<br>Build Your Dream Home With<br>Our Passion</h1>
  </div>
  <div class="main-section">
    <div class="image-b"></div>
    <div class="container">
      <div class="row">
        <div class="opt-1 col-12 col-sm-12">
          <button type="button" class="btn btn-light rounded-0 ml-1">Apartment</button>
          <button type="button" class="btn btn-light rounded-0">Home</button>
        </div>
        <div class="opt-2 row col-12 col-sm-12">
            <div class="row col m-1 ">
              <p>Location</p>
              <button class="btn btn-secondary rounded-0  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Jacarta
              </button>
            </div>
            <div class="row col m-1 ">
              <p>Style</p>
              <button class="btn btn-secondary rounded-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Scandinavian
              </button>
            </div>
            <div class="row col m-1 ">
              <p>Price</p>
              <div class="prices">
                <button class="btn btn-secondary rounded-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                $100k - $350k
                </button>
                <button type="button" class="btn btn-primary signup-btn rounded-0">Sign-up</button>

              </div>
              
            </div>

        </div>
      </div>
    </div>
  </div>
</div>